name: 'Terraform-destroy'

on: 
  workflow_dispatch:
    
env:
  BUCKET: s3-for-assignment
  TFSTATE_FILE: terraform.tfstate
  DB_TABLE: NehLata-table

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest


    defaults:
      run:
        working-directory: ./terraform/test

    steps:
    - uses: actions/checkout@v3
    - uses: hashicorp/setup-terraform@v2

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }} 
        aws-region: us-east-1      

    - name: terraform-init
      id: init
      run:
        terraform init -reconfigure
       -backend-config="bucket=$BUCKET" 
       -backend-config="key=$TFSTATE_FILE" 
       -backend-config="dynamodb_table=$DB_TABLE"

    - name: Terraform destroy
      id: destroy
      run: terraform destroy -auto-approve
